<div class="bottoni" *ngIf="getO()">
    <button mat-raised-button class="bot" (click)="registra('NOK'); newEe('nok');" style="background-color: white ;">> 37,5°</button>
    <br><br><br>
    <button mat-raised-button class="bot" (click)="registra('OK'); newEe('ok');" style="background-color: white;">< 37,5°</button>
</div>

<div class="bottoniL" *ngIf="!getO()">
    <button mat-raised-button class="botL" (click)="registra('OK'); newEe('ok');" style="background-color: white;">< 37,5°</button>
    <button mat-raised-button class="botL" (click)="registra('NOK'); newEe('nok');" style="background-color: white;">> 37,5°</button>
</div>