<ttm-guest (er)="b($event)" (rrr)="a($event)" *ngIf="osp=='1'"></ttm-guest>

<div class="bottoni" *ngIf="getO() && ch<1">
    <button mat-raised-button class="bot" *ngIf="Uemail" (click)="registra('NOK')" style="background-color: red ;">> 37,5°</button>
    <br><br><br>
    <button mat-raised-button class="bot" *ngIf="Uemail" (click)="registra('OK')" style="background-color: green;">< 37,5°</button>
</div>

<div class="bottoniL" *ngIf="!getO() && ch<1">
    <button mat-raised-button class="botL" *ngIf="Uemail" (click)="registra('OK')" style="background-color: green;">< 37,5°</button>
    <button mat-raised-button class="botL" *ngIf="Uemail" (click)="registra('NOK')" style="background-color: red;">> 37,5°</button>
</div>