
<div *ngIf="!Uemail" class="container">
    <h1>Login</h1>
    <form [formGroup]="form" class="form">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" (keypress)="c($event)" required>
          <mat-error *ngIf="form.hasError('email','email') || form.hasError('email','required')">Inserisci un indirizzo email</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" [type]="ch? 'password' : 'text'"  (keypress)="c($event)"  required >
            <mat-icon matSuffix (click)="ch=!ch" style="cursor: pointer;">{{ch? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-error *ngIf="form.hasError('minlength','password')">La password deve contenere almeno 6 caratteri</mat-error>
        </mat-form-field>
        <button class="loginbut" mat-raised-button color="primary" (click)="signin(form)">Login</button>
        <br><br>
        <mat-label style="color: red; text-align: center;">{{errore}}</mat-label>
    </form>
      
   
</div>
<div *ngIf="Uemail && Uemail !='0'">
    <mat-drawer-container class="container" [hasBackdrop]=true>
        <mat-drawer #drawer mode="over">I'm a drawer</mat-drawer>
        <mat-drawer-content>
            <p class="tb">
                <mat-toolbar color="primary">
                    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
                        <mat-icon>menu</mat-icon>
                    </button>
                    <span>TTM</span>
                    <span class="example-spacer"></span>
                    <button mat-button class="example-icon favorite-icon" (click)="logout()">
                        <mat-icon>person</mat-icon>
                        {{ Uemail }}
                    </button>
                    
    
                </mat-toolbar>
            </p>
            <div style="margin-top: 80px;"></div>
            <p>test</p>
            <router-outlet></router-outlet>
        </mat-drawer-content>
    </mat-drawer-container>
</div>


