<div *ngIf="!visual">
  <mat-spinner color="accent" style="margin: 0 auto 0 auto;" diameter="80"></mat-spinner>
</div>
<div *ngIf="visual">
    <mat-list>
        <mat-list-item *ngFor="let item of elenco" [ngStyle]="{'color':item.Ris==='OK'? 'green' : 'red' }">
          <mat-icon mat-list-icon >calendar_today</mat-icon>
          <div mat-line>{{item.Data}}</div>
          <div mat-line> {{item.Nome}} </div>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    
</div>


